[submodule "themes/ivy"]
	path = themes/ivy
	url = https://github.com/inhzus/hugo-ivy.git
[submodule "themes/carpe"]
	path = themes/carpe
	url = https://github.com/inhzus/hugo-carpe.git
[submodule "themes/futu"]
	path = themes/futu
	url = https://github.com/inhzus/futu.git
